<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/admin/css/styles.css">
    <title>Admin Login</title>
    
</head>

<body>

    <div class="admin_header">
        <div class="admin_logo">
            <img src="/assets/Frame.png" alt="milma-logo">
        </div>
    </div>

    <div class="text-center center-div col-lg-12" id="admin-login">
        <div class="container border">
            <div class="title pb-3 mt-3">
                <h2 class="font-weight-bold">Admin Login</h2>
                <!-- <span>Login for admin users</span> -->
                <% if (locals.logout) { %>
                    <div class="alert alert-success text-center">
                        <%= logout %>
                    </div>
                <% } %>
            </div>
            <form action="/admin/login" method="POST" class="pt-3">
                <div class="form-group mb-3">
                    <input type="email" class="form-control" name="email" value="admin@gmail.com" placeholder="email" required>
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" name="password" value="12345678" placeholder="Password" required>
                </div>
                <div class="form-group mb-3 text-danger " >
                    <% if (message) { %>
                        <span>
                            <%= message %>
                        </span>
                    <% } %>
                </div>
                <button type="submit" class="btn btn-success rounded-pill mb-3">Login</button>
            </form>
        </div>
    </div>

   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/your-fontawesome-kit-id.js" crossorigin="anonymous"></script>
</body>

</html>
