<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"> <!-- Include your main CSS file or customize styles here -->
    <title>Page Not Found</title>
</head>

<body>

    <div class="logo">
        <img src="/assets/Frame.png" alt="milma-logo">
    </div>

    <div class="hero_banner">
        <div class="center">
            <div class="left">
                
                <img src="/assets/Charecter copy 1.png" alt="404-image">
            </div>
            <div class="right">
                <!-- Add a message or content for the 404 page -->
                <h1>Oops! Page Not Found</h1>
                <p>The page you are looking for might be in another universe.</p>
                <a href="/" class="btn-home ">Go to Home</a>
            </div>
            
        </div>
        
    </div>

    <!-- Add any additional sections or styling as needed -->

</body>

</html>
